<mat-toolbar color="primary">
  <a routerLink="" routerLinkActive="true" class="logo-line">
    <span>Influide - Your inflation guide</span>
  </a>

  <span class="header-spacer"></span>

  <a mat-icon-button routerLink="/ownRecipe" routerActive="true" title="Get a score for your own recipe">
    <mat-icon>loyalty</mat-icon>
  </a>
  <a mat-icon-button routerLink="/savings" routerActive="true" title="Access all your recipe savings">
    <mat-icon>euro_symbol</mat-icon>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>

<p class="footer"><a href="https://github.com/JanStuden/influide" target="_blank">Influide 2022</a></p>
