.main {
    min-height: 80vH;
    margin-left: 8em;
}

.score{
    padding: 2em 0em;
}

.table {
    min-width: 80%;
    margin: 0 auto;
}

th, td{
    min-width: 20em;
    text-align: center;
}

th {
    padding: 2em 0em;
}
