<div role="main" class="main">
  <div>
    <div class="ingridientHeader">
      <p>Ingridients</p>
      <p class="savingsCalculation">15%</p>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Portions</mat-label>
      <input matInput type="number" value="4" />
    </mat-form-field>

    <div *ngIf="ingridients">
      <ul *ngFor="let ingridient of ingridients">
        <li>
          {{ ingridient.amount }} {{ ingridient.unit }} {{ ingridient.name }}
        </li>
      </ul>
    </div>

    <a
      mat-raised-button
      href="https://shop.rewe.de/recipes/mapping/826ac032201043a2a6c3af7d7bdfe3de392a6269b442750e2e190bcf2c2e0f61?serviceTypes=delivery"
      target="_blank"
      class="buyButton"
      >Buy on REWE</a
    >
  </div>

  <div>
    <p>Receipt details</p>
    <div [innerHTML]="instructions">
    </div>
    <button mat-raised-button>Add to Savings</button>
  </div>
</div>
