<div role="main" class="main">
  <mat-grid-list cols="2" rowHeight="1:1" class="container">
    <mat-grid-tile>
      <div>
        <h1>{{ receipt ? receipt.name : "" }}</h1>
        <p class="savingsCalculation success" *ngIf="savingNumber >= 25">{{ saving }}%</p>
        <p class="savingsCalculation neutral" *ngIf="savingNumber > 25 && savingNumber < 10">{{ saving }}%</p>
        <p class="savingsCalculation warn" *ngIf="savingNumber <= 10">{{ saving }}%</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img *ngIf="receipt" [src]="receipt.image" alt="{{ receipt.name }}" />
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <div class="ingridientHeader">
          <p>Ingridients</p>
        </div>
        <div class="portionInput">
          <button mat-raised-button (click)="decreasePortions()">
            <mat-icon>remove</mat-icon>
          </button>
          <mat-form-field appearance="fill">
            <mat-label>Portions</mat-label>
            <input matInput disabled [(ngModel)]="portions" />
          </mat-form-field>
          <button mat-raised-button (click)="portions = portions + 1">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div *ngIf="ingridients">
          <ul *ngFor="let ingridient of ingridients">
            <li>
              {{
                ingridient.amount
                  ? portions * (ingridient.amount / defaultPortions)
                  : ""
              }}
              {{ ingridient.unit }} {{ ingridient.name }}
            </li>
          </ul>
          <i>{{ ingridients.length <= 5 ? "Probably some more ;)" : "" }}</i>
        </div>

        <a
          mat-raised-button
          [href]="receipt.shopUrl"
          target="_blank"
          class="buyButton"
          ><mat-icon>add_shopping_cart</mat-icon> Buy on REWE</a
        >
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <p>Receipt details</p>
        <div [innerHTML]="instructions"></div>
        <button mat-raised-button (click)="addSaving()">Add to Savings</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
