.chart-wrapper {
  width: 100%;
  height: 35em;
}

.chart {
  padding: 2em;
  width: 80%;
  height: 35em;
  margin: 0 auto;
}

.search{
  width: 100%;
  text-align: center;
}

.recommendation-wrapper {
  padding-top: 3em;
}

.recommendation-header{
  display: flex;
}

.filter{
  margin-left: auto;
  padding-right: 8em;
}

.recommendations {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding-top: 2em;
}

.card {
  background-color: #424242;
  width: 100%;
}

.card a{
  text-decoration: none;
  color: #fff;
}

.cardHeader{
  text-align: center;
  padding: 0em 2em;
}

.image-container{
  height: 12em;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.image-container img{
  width: 100%;
}

.saving {
  text-align: right;
  font-size: large;
  padding: 0.5em 0.5em;
  margin-bottom: 1.2em!important;
}

mat-grid-list {
  width: 80%;
}

.subheading {
  margin-left: 8em;
}

.mat-card {
  padding-bottom: 0;
}
.line {
  stroke-width: 50px;
}

.ownRecipe{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 4em;
}

.ownRecipe button{
  font-size: large;
}