<div role="main" class="main">
    <h3 class="subheading">Price evolution</h3>
  <div class="chart">
    <ngx-charts-line-chart
      scheme="cool"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="Month"
      yAxisLabel="Procent"
      [timeline]="true"
      [results]="data"
      [autoScale]="true"
      style="fill: #fff"
    >
    </ngx-charts-line-chart>
  </div>
  
  <div *ngIf="receiptCategory">
    <mat-button-toggle-group (change)="onFilterChange($event)" *ngFor="let category of receiptCategory" name="categories" aria-label="Ingredients" multiple>
      <mat-button-toggle value={{category}} (click)="filterReceipts()">{{category}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
 
    <mat-form-field (keyup)="onKey()"   class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input  [(ngModel)]="searchQuery" matInput placeholder="Ex. Pizza" >
    </mat-form-field>
  <p>{{searchQuery}}</p>
  <div class="recommendation-wrapper">
    <h3 class="subheading">Recommendations based on your likes</h3>
    <div class="recommendations" *ngIf="receipts">
      <mat-grid-list cols="3" rowHeight="20em" gutterSize="5em" *ngFor="let receipt of receipts">
        <mat-grid-tile>
          <a routerLink="receipt/{{receipt[0]}}" routerLinkActive="active">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{receipt[1].name}}</mat-card-title>
              </mat-card-header>
              <img
                mat-card-image
                [src]="receipt[1].image"
                [alt]="receipt[1].name"
              />
              <p>12%</p>
            </mat-card>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <table class="table table-bordered" formArrayName="quantities">  
    <tr>  
      <th colspan="2">Add Multiple Quantity:</th>  
      <th width="150px"><button type="button" (click)="addColoumn()" class="btn btn-primary">Add More</button></th>  
    </tr>  
    <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">  
      <td>  
          Quantity :  
          <input type="text" formControlName="qty" class="form-control">  
      </td>  
      <td>  
          Price:  
          <input type="text" formControlName="price" class="form-control">  
      </td>  
      <td>  
          <button (click)="removeColoumn($event)" class="btn btn-danger">Remove</button>  
      </td>  
    </tr>  
  </table>  
</div>
