<div role="main" class="main">
  <h3 class="subheading">Price evolution</h3>
  <div class="chart">
    <ngx-charts-line-chart
      scheme="cool"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="Month"
      yAxisLabel="Procent"
      [timeline]="true"
      [results]="data"
      [autoScale]="true"
      style="fill: #fff"
    >
    </ngx-charts-line-chart>
  </div>

  <div class="recommendation-wrapper">
    <div class="recommendation-header">
      <h3 class="subheading">
        {{
          searchQuery
            ? "Results"
            : savings.length >= 1
            ? "Recommendations based on your likes"
            : "Recipe recommendations"
        }}
      </h3>
      <div *ngIf="receiptCategory" class="filter">
        <mat-button-toggle-group
          (change)="onFilterChange($event)"
          *ngFor="let category of receiptCategory"
          name="categories"
          aria-label="Ingredients"
          multiple
        >
          <mat-button-toggle
            value="{{ category }}"
            (click)="filterReceipts()"
            >{{ category }}</mat-button-toggle
          >
        </mat-button-toggle-group>

        <div>
          <mat-form-field (keyup)="onKey()" class="search">
            <mat-label>Favorite meal</mat-label>
            <input [(ngModel)]="searchQuery" matInput placeholder="Ex. Pizza" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="recommendations" *ngIf="receipts">
      <mat-grid-list cols="3" gutterSize="5em" rowHeight="2:2">
        <mat-grid-tile *ngFor="let receipt of receipts">
          <div class="card">
            <a
              routerLink="recipe/{{ receipt[0] }}"
              routerLinkActive="true"
              class="cardLink"
            >
              <p class="cardHeader">{{ receipt[1].name }}</p>
              <div class="image-container">
                <img [src]="receipt[1].image" [alt]="receipt[1].name" />
              </div>
              <p class="saving success" *ngIf="receipt[1].saving >= 25">
                {{ receipt[1].saving }}
              </p>
              <p
                class="saving neutral"
                *ngIf="receipt[1].saving >= 10 && receipt[1].saving < 25"
              >
                {{ receipt[1].saving }}
              </p>
              <p class="saving warn" *ngIf="receipt[1].saving < 10">
                {{ receipt[1].saving }}
              </p>
            </a>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <div class="ownRecipe">
    <button mat-raised-button routerLink="/ownRecipe" color="primary">
      Calculate the score of your recipes
    </button>
  </div>
</div>
